@use '../../variables';
@use '../roll.scss';

.roll-skill {

    .roll {
        &.charge-success {
            .roll-dice {
                box-shadow: 0 0 6px #51ceff;
                filter: drop-shadow(3px 3px 1px #22769c);
            }
        }
    }

    .result-message {

        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;

        &.success {
            border-color: variables.$success-foreground;
            color: variables.$success-foreground;
            background-color: variables.$success-background;
        }

        &.partial {
            border-color: rgb(104, 69, 23);
            color: rgb(104, 69, 23);
            background-color: rgb(230, 187, 132);
        }

        &.failure {
            border-color: variables.$failure-foreground;
            color: variables.$failure-foreground;
            background-color: variables.$failure-background;
        }
    }
}