@use '../../variables';
@use '../roll.scss';

.roll-poison {
    .roll-header {
        h4 {
            &.header-name {
                margin-top: 6px !important;
                margin-bottom: 16px !important;
                margin-left: 10px !important;                
            }  
        }
    } 
}
