@use '../../variables';
@use '../roll.scss';

.roll-poison {

    ol {
        &.rolls {
            margin-top: -20px;
        }
    }

    .header-label {
        height: 28px !important;
        margin-top: 14px !important;
        padding-top: 3px !important;
    }

    .result-message {
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;        
    }
}
