<script>
    function modifyDice(diceType, add, maxValue, type) {        
        if (add && $(".form-" + diceType)[0].value < maxValue)
            $(".form-" + diceType)[0].value++;
        else if (!add && $(".form-" + diceType)[0].value > 0)
            $(".form-" + diceType)[0].value--;
    }
</script>

<form>
    <div class="dialog-container dialog-maneuver flexcol">
        <img class="dialog-img" src="{{img}}" />
        <label class="header-label">{{name}}</label>
        <div class="dialog-elements flexcol">
            <select class="gain-select" name="maneuverStyle" data-field="system.gain.r1">
                <option value="regular">No style</option>
                <option value="aggressive">Style: aggressive</option>
                <option value="cunning">Style: cunning</option>
                <option value="defensive">Style: defensive</option>
                <option value="heroic">Style: heroic</option>
                <option value="reckless">Style: reckless</option>
                <option value="supportive">Style: supportive</option>
            </select>
            <div class="flexrow maneuver-support-die">
                <span>Additional <i>Support</i> action die?</span>
                <input type="checkbox" name="supportDie" data-dtype="Boolean" />
            </div>
        </div>
    </div>
</form>
