@use '../dialog.scss';

.dialog-maneuver {    

    input[type=text], span {
        background: none;
        border: 0;
        color: #444;
    }
    
    select {
        background-color: #fff;
        border: 2px solid var(--primary-color);
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        border-radius: 20px;
        height: 38px;
        color: var(--primary-color);
        margin: 12px 0px;
        padding-left: 16px;
        width: 100%;

        option {
            background-color: white;
            color: var(--primary-color);
            font-weight: 600;
            font-size: 15px;
        }
    }
    
    input[type="checkbox"] {
        position: relative;
        bottom: 3px;
        accent-color: var(--primary-color);
        filter: saturate(1.25);
    }
}