@use '../../variables';
@use '../roll.scss';

.roll-maneuver {
    
    .roll {        
        .roll-dice {
            &.slowed, &.quickened {    
                background-color: #ffef82;
                width: 29px;
                line-height: 25px;
                grid-row: 1;
                grid-column: 1;
            }
        }

        &.strike-success {
            .roll-dice {
                box-shadow: 0 0 6px #f13f92;
                filter: drop-shadow(3px 3px 1px #a73158);                
            }
        }

        &.charge-success {
            .roll-dice {
                box-shadow: 0 0 6px #51ceff;
                filter: drop-shadow(3px 3px 1px #22769c);
            }
        }
    }
}