<form class="{{cssClass}} item-sheet flexrow">
    <img src="{{item.img}}" />
    <div class="field-container flexcol">
        <label for="name">Skill Name</label>
        <div class="value-field">        
            <input type="text" name="name" value="{{item.name}}" />
        </div>
    </div>
</form>