
<form class="{{cssClass}} dialog-endturn flexrow">    
    <div class="flexrow dialog-container">
        <div class="dialog-curtain"></div>
        <div class="dialog-field-container-endturn flexrow">
            <label>Confirm End of Turn?</label>
        </div>        
    </div>
</form>