.dialog-container {
    justify-content: center;

    .dialog-field-container-endturn {
    
        align-items: center;
        text-align: center;
        flex: 0 0 95%;    
        margin: 2px !important;
        padding: 10px 5px !important;    
        font-size: 20px;
            
        label {            
            padding-right: 6px;

            &.label-resistance {
                margin-bottom: 8px;
            }
        }

        input[type=radio] {
            margin-top: -6px;
            margin-right: 2px;
        }
    }
}
