<form>
    <div class="flexrow dialog-container">
        <div class="dialog-field-container-endturn flexrow">
            <label>Confirm End of Turn?</label>
        </div>        
    </div>
</form>
