@use 'variables';

.roll-img {
    flex: 0 0 40px !important;
    width: 40px;
    height: 40px;
    margin-right: 0;
}

.roll-header {
    border-top: variables.$grooved-border;
    border-bottom: variables.$grooved-border;

    padding-top: 8px;

    h4 {
        font-family: "Modesto Condensed";
        font-size: 18px;
        color: #666;
        margin-top: 0px;
        margin-left: 8px;

        &.header-title {
            margin-top: 2px !important;
            font-size: 16px !important;
            margin-bottom: 0 !important;
        }

        &.header-name {
            font-size: 23px !important;
            margin-bottom: 3px !important;
            margin-top: 0 !important;   
        }
    }

    .item-description {
        margin: 2px 4px;
        color: #555;
        border: 2px solid #aaa;
        border-radius: 9px;
        padding: 2px 8px;
        margin-bottom: 12px;
        font-size: 11px;
        font-weight: 600;
        font-family: 'Montserrat';
        background-color: #fff;
    }
}

.rolls {
    list-style: none;
    margin: 5px 0;
    padding: 1px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    width: 100%;

    .roll {
        position: relative;
        width: 24px;
        line-height: 24px;
        float: left;
        margin: 0px 3px;
        padding-top: 3px;
        background-image: url(../../icons/svg/d6-grey.svg);
        background-repeat: no-repeat;
        background-size: 24px 24px;
        font-size: var(--font-size-16);
        color: rgba(0, 0, 0, 0.65);
        font-weight: bold;
        text-align: center;
        background-position-x: center;
        background-position-y: center;

        &.strike {
            background-image: url(../../systems/animaprime/assets/d6-blue.svg);
        }
        
        &.action {
            background-image: url(../../systems/animaprime/assets/d6-purple.svg);
        }

        &.threat, &.progress {
            background-image: url(../../systems/animaprime/assets/d6-yellow.svg);
        }

        &.bonus {
            background-image: url(../../systems/animaprime/assets/d6-green.svg);
        }

        &.reckless {
            background-image: url(../../systems/animaprime/assets/d6-purple.svg);
        }

        &.condition {
            background-image: url(../../systems/animaprime/assets/d6-condition.svg);
        }

        &.resistance {
            background-image: url(../../systems/animaprime/assets/d6-red-forbidden.svg);
        }

        &.weaken {
            background-image: url(../../systems/animaprime/assets/d6-condition-forbidden.svg);
        }

        &.successdice {
            background-image: url(../../systems/animaprime/assets/d6-green-successmodifier.svg);
        }

        &.success {
            position: relative;
            top: 1px;
            padding-top: 2px;
            border-bottom: 2px solid #45af86 !important;

            &.strike-success {
                border-bottom: 2px solid #e50089 !important;
            }

            &.charge-success {
                border-bottom: 2px solid #00ade1 !important;
            }
        }
    
        &.partial {
            border-bottom: 2px solid rgb(225, 140, 14);
        }                      
    }    
}

.button-reroll-container {        
    align-self: center;    
    margin: 0px 8px;
    padding-top: 5px;
    border-top: 2px groove #eeede0;
    margin-top: 6px;
            
    .button-roll {
        border: 2px solid;
        padding: 4px;
        padding-bottom: 2px;
        padding-right: 7px;
        background-color: #fff;
        border-radius: 8px;
        margin: 4px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;

        &.reroll {
            color: #990f38;
        }

        &.commit {
            color: #0f9986;
        }
    }
}

.result-message {
    font-size: 16px;
    text-align: center;
    border: 1px solid;
    margin: 6px;
    margin-top: 12px;
    padding: 3px;
    font-weight: bold;
    background-color: #bbb;
    width: calc(100% - 12px);
    display: block;

    &.critical {
        border-color: variables.$critical-foreground;
        color: variables.$critical-foreground;
        background-color: variables.$critical-background;
    }

    &.success {
        border-color: variables.$success-foreground;
        color: variables.$success-foreground;
        background-color: variables.$success-background;
    }

    &.failure {
        border-color: variables.$failure-foreground;
        color: variables.$failure-foreground;
        background-color: variables.$failure-background;
    }

    &.partial {
        border-color: rgb(104, 69, 23);
        color: rgb(104, 69, 23);
        background-color: rgb(230, 187, 132);
    }
}