@use 'variables';

.chat-message-message {
    .message-content {
        border: 0 !important;
    }
}

.chat-message {
    background: #fff;

    header {
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 600;
    }

    .message-sender {    
        font-size: 16px;
    }
}

.roll-message-container {

    border: 2px solid var(--primary-color);
    border-radius: 11px;
    border-top-left-radius: 20px;
    margin: 7px;
    margin-top: 16px;
    background-color: #fffbfa;

    

    

    .roll-header {
        display: grid;
        margin-bottom: -8px;

        .roll-img {
            border: 3px solid var(--primary-color);
            border-radius: 48px;
            height: 68px;
            padding: 2px;
            background-color: #fff;    
            grid-column: 1;
            grid-row: 1;
            z-index: 10;
            position: relative;
            bottom: 8px;
            right: 12px;
        }

        .header-label {
            background-color: var(--primary-color);
            color: #fff;
            width: 100%;
            grid-column: 1;
            grid-row: 1;
            font-family: 'Montserrat';
            height: 42px;
            padding-left: 60px;
            margin-top: 10px;

            h4 {                
                margin: 0;
                color: #fff;
                &.header-title {
                    padding-top: 3px;
                    font-size: 10px;                    
                }
        
                &.header-name {
                    padding-bottom: 3px;
                    font-size: 18px;
                }
            }

        }

    }
}

.roll-header {

    .item-description {
        margin: 2px 8px;
        color: #555;
        border: 2px solid #aaa;
        border-radius: 9px;
        padding: 2px 8px;
        margin-bottom: 12px;
        font-size: 11px;
        font-weight: 600;
        font-family: 'Montserrat';
        background-color: #fff;
    }
}

.rolls {
    list-style: none;
    margin: 0;
    padding: 8px;
    padding-top: 6px;
    padding-bottom: 12px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    .roll {       
    
        .roll-dice {
            
            position: relative;
            float: left;
            width: 25px;
            line-height: 21px;
            margin: 6px 6px;
            padding-top: 3px;        
            background-repeat: no-repeat;
            background-size: 24px 24px;
            font-size: var(--font-size-16);
            color: #000000a6;
            font-weight: bold;
            text-align: center;
            background-position-x: center;
            background-color: #bbb;
            border-radius: 8px;
            background-position-y: center;
            filter: drop-shadow(2px 2px 1px #000000bb);            

            &.strike {
                background-color: #549fce;
            }
            
            &.action {
                background-color: #bf7de5;
            }
    
            &.variable {
                background-color: #e7a067;
            }
    
            &.bonus {
                background-color: #4fd3ae;
            }

            &.empowered {
                background-color: #ffef82;
            }
    
            &.reckless {
                background-color: #cfa8f9;
                color: #670fc7;
            }
    
            &.resistance {
                background-image: url(../../systems/animaprime/assets/d6-red-forbidden.svg);
            }
    
            &.weaken {
                background-image: url(../../systems/animaprime/assets/d6-condition-forbidden.svg);
            }
    
            &.successdice {
                background-image: url(../../systems/animaprime/assets/d6-green-successmodifier.svg);
            }
        }    
        
        &.success {
            .roll-dice {
                box-shadow: 0 0 6px #17b6a1;
                filter: drop-shadow(3px 3px 1px #017955);
                width: 29px;
                line-height: 25px;
                margin: 6px 6px;
    
            }
        }
    }    
}

.button-reroll-container {        
    align-self: center;    
    margin: 0px 8px;
            
    .button-roll {
        border: 2px solid;
        padding: 4px;
        padding-bottom: 2px;
        padding-right: 7px;
        background-color: #fff;
        border-radius: 8px;
        margin: 4px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;

        &.reroll {
            color: #990f38;
        }

        &.commit {
            color: #0f9986;
        }
    }
}

.result-message {
    font-size: 13px;
    text-align: center;    
    padding: 3px;
    padding-bottom: 6px;
    font-weight: 800;
    background-color: #bbb;
    width: 100%;
    display: block;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border: 0px;
    border-top: 2px solid #555;
    
    font-family: 'Montserrat';    

    &.critical {
        border-color: variables.$critical-foreground;
        color: variables.$critical-foreground;
        background-color: variables.$critical-background;
    }

    &.success {
        border-color: variables.$success-foreground;
        color: variables.$success-foreground;
        background-color: variables.$success-background;
    }

    &.failure {
        border-color: variables.$failure-foreground;
        color: variables.$failure-foreground;
        background-color: variables.$failure-background;
    }

    &.partial {
        border-color: rgb(104, 69, 23);
        color: rgb(104, 69, 23);
        background-color: rgb(230, 187, 132);
    }
}

.result-message-commit {
    border: 2px solid #555;
    border-radius: 11px;
    padding-top: 5px;
    margin: 5px 10px;
    width: calc(100% - 20px);
}