@use '../../root-elements.scss';
@use '../../variables';

.adversity-sheet,
.vehicle-sheet,
.character-sheet,
.ally-sheet,
.goal-sheet
{
	background: #fff;
	color: #333;
	font-family: 'Montserrat', sans-serif;
	margin: -7px;
}

.container-section {

	margin-top: 20px;
	z-index: 1;

	.container-header {
		background-color: var(--primary-color);
		border-radius: 8px;
		padding: 5px 20px;
		text-align: center;
		color: #fff;
		font-weight: 600;                
		margin-left: 22px;
		position: relative;
		bottom: 4px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	.container-wrapper {
		border: 2px solid var(--primary-color);
		overflow: auto;
		border-radius: 8px;
		padding: 8px;
		margin-left: 11px;
		background-color: #fff;
		width: calc(100% - 20px);

		.input-text {
			font-size: 22px;
			width: calc(100% - 26px);
			color: #222;
			position: relative;
			top: -3px;
		}
	}
}

.button-reform-basicactions {
	border: 3px solid var(--primary-color);
    border-radius: 12px;
    display: none;
    width: 50%;
    margin: 0px auto;
    margin-top: 12px;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    background-color: var(--primary-color-light);
    color: var(--primary-color);

	&.show-reform-button {
		display: block;
	}
}
