.dialog-container {
    justify-content: center;

    .dialog-field-container-skill {
    
        align-items: center;
        text-align: right;
        flex: 0 0 95%;
        border: 1px solid black;
        margin: 2px !important;
        padding: 5px !important;
        padding-top: 10px;
    
        label {            
            padding-right: 6px;

            &.label-resistance {
                margin-bottom: 8px;
            }
        }

        input[type=radio] {
            margin-top: -6px;
            margin-right: 2px;
        }
    }
}

.form-dice-field {
    margin: 4px !important;
    background-color: #bbb !important;
    font-size: 16px !important;
    border: 1px solid #333 !important;
    max-width: 80px !important;
    font-weight: 600;
    text-align: center !important;

    input[type=text] {
        width: 20px;
        font-weight: 600;
        font-size: 16px;
        color: #444;
    }
    span {
        margin-top: 3px;
        position: relative;
        right: 3px;
    }
}

.dialog-buttons-radio {    
    flex-direction: column !important;
    flex-wrap: wrap;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    
    div {
        margin: 5px 0px;
    }
}

.form-dialog-plusminus-button {
    max-width: 30px;
    margin: 0 !important;
}