@use '../dialog.scss';

.dialog-skill {
    
    .dialog-elements {        
        
        padding-bottom: 16px;
        align-items: flex-start;

        .input-text {                
            top: 1px;
            margin-right: 8px;
            accent-color: var(--primary-color);
            filter: saturate(1.25);
        }        
    }
}