<form>
    <div class="flexrow ">
        <div class="dialog-field-container-skill flexcol">
            <img class="dialog-img-skill" src="icons/skills/trades/academics-study-reading-book.webp" />
            <label class="label-resistance">Select roll difficulty</label>        
            <div class="flexrow dialog-buttons-radio">                                        
                <div><input class="input-text check" name="difficulty" value="3" type="radio" checked>Regular (3)</input></div>
                <div><input class="input-text check" name="difficulty" value="4" type="radio">Hard (4)</input></div>
                <div><input class="input-text check" name="difficulty" value="5" type="radio">Very Hard (5)</input></div>
                <div><input class="input-text check" name="difficulty" value="6" type="radio">Near Impossible (6)</input></div>
            </div>
        </div>
    </div>
</form>
