$friendly-background: #008cff33;
$friendly-background-hover: #008cff77;
$friendly-border: #007aaa;

$ally-background: #00ff9d33;
$ally-background-hover: #01ca8e77;
$ally-border: #00aa33;

$hostile-background: #f74e5229;
$hostile-background-hover: #f74e5277;
$hostile-border: #d30058;

$level-colors : (
    "level-0": #28b405,
    "level-1": #b4f762,
    "level-2": #fcf082,
    "level-3": #f09761,
    "level-4": #d43a42,
    "level-5": #641519
);

@keyframes loadingBall {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#combat-tracker {
    padding: 0 !important;
}

.health-threat-line {
    
    display: flex;
        
    .status-relative {
        display: block;
        width: 26px;
        height: 13px;
        position: relative;        
        bottom: 2px;
        margin-left: 3px;
        margin-right: 10px;
        border: 2px solid #999;
        background-color: #000;
    }

    @each $color, $value in $level-colors {
        .bg-#{$color} {
            background-color: $value;
            border-color: darken($value, 50%);
        }
    }
}



.sidebar-curtain {    
    background-color: #222228f9;
    width: 299px;
    height: calc(100vh - 9px);
    position: fixed;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 4px;

    span {
        font-size: 36px;
        display: block;
        margin-bottom: 16px;
    }

    .ring-2 {
        position: relative;
        width: 45px;
        height: 45px;
        margin: 0 auto;
        border: 4px solid #f0f0e0;
        border-radius: 100%;
    }

    .ball-holder {
        position: absolute;
        width: 12px;
        height: 35px;
        left: 13px;
        top: 1px;
        animation: loadingBall 1s linear infinite;
    }

    .ball {
        position: absolute;
        top: -10px;
        right: -3px;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background: #f0f0e0;
    }
}

.turnUnitData {
    font-size: 10px;
    max-height: 11px;
    height: 11px;
    line-height: 10px !important;    
}

.combat-tracker-tab {
    .encounter-title {
        margin: 0 !important;
    }

    .directory-list {
        li {
            padding: 2px 0px;
            padding-left: 8px;
        }
    }

    .main-queue {            
        .hover {
            background-color: #ffffff50 !important;
        }
    }

    .header-next-turn {
        width: 100;
        text-align: center;
        padding-bottom: 8px;      
        border-bottom: 2px groove var(--color-border-dark-4);
    }

    .active-faction-friendly {
        .friendly-section {
            background-color: $friendly-background;            
        }

        .ally-section {
            background-color: $ally-background;
        }
    }

    .active-faction-hostile {
        .hostile-section {
            background-color: $hostile-background;
        }
    }

    .combat-section-title {
        /* width: 100%; */
        text-align: center;
        border: 2px solid #fff;
        padding: 3px;
        margin: 2px 4px;
        border-radius: 16px;

        &.friendly-section {
            border-color: $friendly-border;
        }

        &.ally-section {
            border-color: $ally-border;
        }

        &.hostile-section {
            border-color: $hostile-border;
        }
    }

    .turn-queue-list {
        min-height: calc(50% - 136px);        
    }

    .waiting-line {
        
        .combatant {

            &.on-queue {
                background-color: #ffffff96 !important;

                &.hover, &:hover {
                    background-color: #ffffff96 !important;
                }
            }
            
            &.friendly {
                background-color: $friendly-background;                
                border-top: 1px solid $friendly-border;
                border-bottom: none;
                &:last-child {
                    border-bottom: 1px solid $friendly-border
                }
                &.active {                    
                    background: $friendly-background !important;
                    border: 0 !important;
                    border-top: 1px solid $friendly-border !important;
                }

                &.hover, &:hover {
                    background: $friendly-background-hover !important;
                }
            }
            
            &.ally {
                background-color: $ally-background;                
                border-top: 1px solid $ally-border;
                border-bottom: none;
                &:last-child {
                    border-bottom: 1px solid $ally-border
                }
                &.active {                    
                    background: $ally-background !important;
                    border: 0 !important;
                    border-top: 1px solid $ally-border !important;
                }

                &.hover, &:hover {
                    background: $ally-background-hover !important;
                }
            }

            &.hostile {
                background-color: $hostile-background;                
                border-top: 1px solid $hostile-border;
                border-bottom: none;
                &:last-child {
                    border-bottom: 1px solid $hostile-border
                }
                &.active {                    
                    background: $hostile-background !important;
                    border: 0 !important;
                    border-top: 1px solid $hostile-border !important;
                }

                &.hover, &:hover {
                    background: $hostile-background-hover !important;
                }
            }
        }            
    }    

    button {
        display: block;
        width: 80px;
        height: calc(var(--sidebar-item-height) - 24px);
        background: rgba(0,0,0,0);
        background-size: 32px;
        margin-top: calc(var(--sidebar-item-height) - 36px);
        margin-right: 1em;
        line-height: 20px;
        color: #bddcfb;
    }
}