@use '../../variables';
@use '../roll.scss';

.roll-strike {
    
    .roll {        
        
        .roll-dice {
            &.weakened {    
                background-color: #ffef82;
                width: 29px;
                line-height: 25px;
                grid-row: 1;
                grid-column: 1;
            }
        }
    }

    .roll-header {        
        h4 {            
            color: #666;
            &.header-title {
                margin-top: 2px;
                font-size: 16px;
                margin-bottom: 0;
            }

            &.header-name {
                font-size: 23px;    
            }
        }
    }
        
    .rolls {
        min-width: 100%;
    }

    .target-section {
            
        
        .result-message {
            margin-top: 6px;            
        }
        
        &:last-child {
            padding-bottom: 0;
            border-bottom: 0;            
        }
    }
}