@use '../../variables';
@use '../roll.scss';

.roll-strike {

    border-color: #b80523;
    background-color: #f9e0e8;
    .roll-header {
        .roll-img {
            border-color: #b80523;
        }
        .header-label {
            background-color: #b80523;
            border-bottom-left-radius: 40px;
        }
    }

    .result-message {
        border-color: #b80523;
        background-color: #ffb5cc;
        color: #680011;
    }

    .extra-dice-label {
        display: flex;
        align-items: center;
        font-size: 19px;
        font-weight: 600;
    }

    .roll {
        .roll-dice {
            &.weakened, &.resistance {
                background-color: #ffef82;
                width: 29px;
                line-height: 25px;
                grid-row: 1;
                grid-column: 1;
            }

            &.resistance {
                background-color: #fca7bc;
            }
        }
    }

    .rolls {
        min-width: 100%;
    }

    .target-section {
        .result-message {
            margin-top: 6px;
        }

        &:last-child {
            padding-bottom: 0;
            border-bottom: 0;
        }
    }
}