@use '../../variables';
@use '../roll.scss';

.roll-power {

    .roll-header {
        .item-description {
            margin-bottom: 24px;
        }
    }

    .result-message {
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
    }
}