@use '../../root-elements.scss';
@use '../../sheets/item/item-sheet.scss';

.dialog-usepower {
    
    margin-bottom: 8px;

    img {
        flex: 0 0 48px !important;
        height: 48px;
        margin: 4px;
        margin-right: 12px;
    }

    .value-field {
        border: 0;
        background: none;
        line-height: 20px;
        text-align: center;
        font-size: 16px;
        padding: 7px;
        margin-bottom: 12px;
    }
}