@use '../dialog.scss';

.dialog-usepower {
    
    input[type=text], span {
        background: none;
        border: 0;
        color: #444;
    }

    .dialog-elements {
        align-items: flex-start;
        font-family: 'Montserrat';
        padding: 32px 16px;
    }
}