.gm-hud-container { 
    display: none;
    text-align: center;
    flex-direction: column;
    z-index: 50;
    position: absolute;
    top: 113px;
    left: 127px;

    .hud-actions-container {
        display: flex;
        max-width: 35vw;
        flex-wrap: wrap-reverse;
        margin: 8px 0px;
        
        .gm-hud-item {
            display: flex;
            margin: 3px;        
            padding: 4px 8px;
            color: #fff;
            align-items: center;
            font-size: 14px;
            border-style:solid;
            border-width: 3px;
            border-color: #250000;
            border-radius: 12px;
            cursor: pointer;
            background-color: rgba(68, 0, 0, 0.35);

            input[type=text] {
                border: 0;
                border-bottom: 2px solid #fff;
                margin: 4px 6px;
                width: calc(100% - 4px) !important;
                border-radius: 0;
                font-family: Montserrat, sans-serif;
                color: #fff;

                &::placeholder {
                    color: #ccc;
                    opacity: 0.5;
                  }
            }

            .hud-customskill-data {
                width: 230px;
                margin-right: 8px;

                .second-line {
                    display: flex;
                }
            }

            .hud-customskill-roll {
                height: 36px;
                display: flex;
                align-items: center;
            }
    
            img {
                width: 48px;
                border: 0;
                margin-right: 16px;
                border-radius: 8px;
                border: 3px solid #4b001d;
            }
        }
    }
    
    .bg-customskill {
        width: 260px;
    }
}

