<form class="{{cssClass}} dialog-confirmdelete flexrow">
    <img src="{{img}}" />
    <div class="field-container flexcol">        
        <div class="value-field">
            <span>Confirm deletion of {{type}} <strong>"{{name}}"</strong>?</span>
        </div>
    </div>
</form>