<form class="{{cssClass}} dialog-confirmdelete flexcol">
    <div class="dialog-container dialog-skill flexcol">
        <img class="dialog-img" src="{{img}}" />
        <label class="header-label">{{name}}</label>
        <div class="dialog-elements flexcol">            
            <span>Confirm deletion of this <strong>{{type}}</strong> action?</span>            
        </div>
    </div>
</form>