@use '../actor-sheet.scss';
@use '../../../variables';

.adversity-sheet {
    background: #fff;
    z-index: 0;

    input[type=text], span {
        background: none;
        border: 0;
        color: #444;
    }

    .skill-resistance-section {
        display: flex;
    }    

    .decorative-square {
        background-color: var(--primary-color-light);
        height: 658px;
        width: 159px;
        position: absolute;
        top: 62px;
        left: 27px;
        z-index: -110;

        &.small-square {
            height: 270px;
        }
        
    }

    .skill-section-container, .resistance-section-container {
        width: 50%;
    }

    .skill-button-container {
        
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        width: 90%;

        .skill-button {
            cursor: pointer;
            margin: 12px 5px;
            background-color: #fff;
            text-align: center;
            display: inline-block;
            border: 2px solid var(--primary-color);
            padding: 6px;
            border-radius: 12px;
            font-weight: bold;
            margin-bottom: 2px;
        }
    }

    .skills-container {    
        
        margin-bottom: 24px;
        display: flex;
        flex-wrap: wrap;

        .icon {
            float: right;
            position: relative;
            bottom: 17px;
            left: 8px;

            &.item-edit {
                left: -24px
            }
        }

        .skill-line {
            flex: 0 0 90%;
            
        }

        .skill-unit {
            border-bottom: 1px solid variables.$input-line-color;
            display: block;
            font-family: "Caveat", cursive;
            font-size: 20px;
            line-height: 17px;
            padding-left: 6px;
            padding-top: 6px;
            margin: 0px 10px;
        }
    }

    

    input[type=text] {
        font-family: 'Caveat', cursive;
    }

    .sheet-columns {
        flex-direction: row;
    }

    .power-scale-label {
        color: white;
        font-weight: 600;
        font-size: 16px;
    }

    .input-power-scale {
        max-width: 44px !important;
        text-align: center;
    }

    .input-text {
        color: variables.$input-font-color;
        font-size: 24px;
        border-bottom: 2px solid variables.$input-line-color;
        border-radius: 0;
        margin: 1px 12px;

        &.name {
            max-width: 50%;
        }

        &::placeholder {
            color: variables.$input-placeholder-color;
        }
    }

    .attribute-value {
        border: 3px solid var(--primary-color);
        border-radius: 31px;
        background-color: #fff;
        width: 66px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            font-size: 42px;
            font-weight: 400;
            font-family: "Caveat", cursive;
            color: variables.$input-font-color;
            position: relative;
            bottom: 2px;
            right: 4px;
        }
    }

    .icon-container {

        .button-changevalue {
            border: 2px solid var(--primary-color);
            width: 26px;
            height: 26px;
            border-radius: 20px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 9;
            position: relative;
        }
    }

    .container-section {

        margin-top: 24px;
        z-index: 1;

        .container-header {
            background-color: var(--primary-color);
            border-radius: 8px;
            padding: 6px 20px;
            text-align: center;
            color: #fff;
            font-weight: 600;                
            margin-left: 22px;
            position: relative;
            bottom: 4px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .container-wrapper {
            border: 2px solid var(--primary-color);
            overflow: auto;
            border-radius: 8px;
            padding: 16px 8px;
            margin-left: 13px;
            background-color: #fff;
            width: calc(100% - 22px);

            .input-text {
                font-size: 20px;
                width: calc(100% - 26px);
            }
        }
    }    

    header {
        padding: 4px;

        .header-namestrip {
            background: var(--primary-color);
            border-radius: 8px;
            padding: 12px;
            margin: 8px;
            color: #fff;
    
            input[type=text] {
                max-width: 21%;
                color: #fff;
                font-size: 24px;
                border-bottom: 2px solid var(--primary-color-light);
                border-radius: 0;
                margin: 0px 6px;

                &.name {
                    max-width: 69%;

                    &.small {
                        max-width: 56%;                        
                    }
                }

                &::placeholder {
                    color: #ddd;
                }
            }
        }
    }
        
    .left-side {        
        margin-left: 4px;
        display: flex;

        .health-defense-container {
            position: relative;
            left: 41px;

            .health-frame {
                width: 200px;
                .health-container {
                    max-width: 240px;
                }
            }
            
        }

        img {
            border: 4px solid var(--primary-color);
            width: 100%;
            height: 240px;
            width: 240px;
            border-radius: 32px;
            padding: 4px;
            margin: 0 21px;            
            background-color: #fff;
        }

        .image-container {
            position: relative;

        }        

        .button-addskill {
            border: 2px solid var(--primary-color);
            border-radius: 17px;
            background-color: #fff; 
            padding: 1px 4px;
            position: relative;
            bottom: 18px;
            right: 15px;
        }
    
        .skills-container {        

            .icon {
                float: right;
                position: relative;
                bottom: 17px;
                left: 8px;

                &.item-edit {
                    left: -24px
                }
            }
            
            .skill-unit {
                border-bottom: 2px solid variables.$input-line-color;            
                display: block;
                font-family: "Caveat", cursive;
                font-size: 20px;
                line-height: 17px;
                padding-left: 6px;
                padding-top: 6px;
            }
        }        
    }

    .right-side {

        margin: 0px 12px;
        margin-top: -14px;
        margin-left: -4px;

        &.small-column {            
            margin-top: 16px !important;
        }

        .passion-background {
            margin-left: 20px;
            margin-top: 7px;

            label {
                background-color: var(--primary-color);
                color: white;
                font-weight: 600;
                padding: 7px;
                min-width: 105px;
                margin-bottom: 9px;
                border-radius: 8px;
            }

            
        }

        .trait-value {
            flex: 0 0 92%;
            margin-right: -10px;
        }

        .trait-check {
            margin-top: 7px;
        }

        &.dice-pools {            

            align-items: center;            
            margin-right: 27px;
            justify-content: flex-start;
            margin-top: 36px;            
            bottom: 10px;
            margin-left: 24px;          

            .dice-pool-strip {
                background-color: var(--primary-color);
                height: 32px;
                align-items: center;
                justify-content: flex-end;
                width: 86%;
                display: flex;
                margin: 15px 0;
                margin-right: 11px;
                border-radius: 8px;
                
                &.threat-only {
                    position: relative;
                    top: 56px;
                }
               
                label {
                    width: calc(100% - 72px);
                    text-align: end;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 600;

                    .input-charge-max {
                        width: 33px;
                        color: #fff;
                        text-align: center;
                        font-size: 25px;    
                        position: relative;
                        height: 17px;
                        border: 0;
                    }
                }

                .attribute-value {
                    position: relative;
                    left: 16px;
                }

                .button-changevalue {
                    
                    left: 100%;
                    bottom: 18px;
                        
                    &.minus {
                        top: 18px;              
                        left: calc(100% - 25px);
                    }
                }
            }
        }
       
    }

    .actions-section-container {
        
        width: calc(100% - 45px);
        border-bottom: 2px solid var(--primary-color);
        margin-left: 24px;
        height: 300px;
        overflow-y: auto;
        display: flex;
        flex-direction: row;
    }

    .actions-column {            
        display: flex;
        flex-direction: column;            
        width: 50%;
        padding-top: 8px;

        &:first-child {
            margin-left: 8px;
        }

        &:last-child {
            margin-right: 8px;
        }
    }

    .actions-section {            
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 24px;
        margin-bottom: 18px;        
        padding-top: 6px;
    }

    nav.sheet-tabs {
        
        border-top: 0;
        border-bottom: 2px solid var(--primary-color);
        padding: 0;
        margin: 0px 24px;
        margin-top: -6px;
        
        a {
            padding: 4px 12px;

            font-weight: 600;
            font-size: 16px;
            color: var(--primary-color);

            &:hover {
                text-shadow: none;
            }

            &.active {
                border-top: 2px solid var(--primary-color);
                border-left: 2px solid var(--primary-color);
                border-right: 2px solid var(--primary-color);

                background-color: var(--primary-color-light);

                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
            }
        }
    }
}